<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="bg-gray-100 px-4 py-6 md:py-8 lg:py-12">

      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Productos</h2>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Proyecto backend de Juan Paladea - Coderhouse</p>
      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">{{user.firstName}} bienvenido/a a la lista de productos</p>
    </div>
  </div>
</div>

  <nav class="flex justify-between bg-white py-6 sm:py-8 mx-auto max-w-screen-2xl px-4 md:px-8">
    <form id="addForm" class="mb-3 flex gap-2 sm:mb-5">
        <input id="searchInput" type="text" name="query" placeholder="Funcionalidad pendiente..." class="bg-gray-white w-full flex-1 rounded border h-10 border-gray-300 px-3 py-2 text-gray-800 placeholder-gray-400 outline-none ring-indigo-300 transition duration-100 focus:ring" />

        <button id="searchButton" type="submit" class="inline-block rounded bg-indigo-500 px-8 py-2 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Buscar</button>
    </form>
    <ul class="flex bg-white">
      <li>
        <a href="http://localhost:8080/products?sort={%22price%22:1}" class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
          Ordenar por Precio Ascendente
        </a>
      </li>
      <li>
        <a href="http://localhost:8080/products?sort={%22price%22:-1}" class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
          Ordenar por Precio Descendente
        </a>
      </li>
    </ul>
  </nav>
    
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-4">

      {{#each products}}
        <div>
          {{#if this.thumbnails.length}}
          <a href="http://localhost:8080/products/{{this._id}}" class="group relative mb-2 block h-80 overflow-hidden bg-gray-100 lg:mb-3">
            <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
          </a>
          {{else}}
          <a href="http://localhost:8080/products/{{this._id}}" class="group relative mb-2 block h-80 overflow-hidden bg-gray-100 lg:mb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ5BVHgJRJeqFMG_LvNuo3W_xmPgtmNRZ49qOSI4gxsA&s" alt="" class="h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
          </a>
          {{/if}}
          <div>
            <a href="http://localhost:8080/products/{{this._id}}" class="hover:gray-800 mb-1 text-gray-500 transition duration-100 lg:text-lg">{{this.title}}</a>
            <div class="text-gray-500 text-md">{{this.category}}</div>
            <div class="font-bold text-gray-800 lg:text-lg">${{this.price}}</div>
          </div>
        </div>
      {{/each}}
      
    </div>
  </div>
</div>

<nav class="flex bg-white py-6 sm:py-8 lg:py-12 mx-auto max-w-screen-2xl px-4 md:px-8">
  <ul class="flex bg-white mx-auto">
    {{#if hasPrevPage}}
      <li>
        <a href="{{prevLink}}" class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
          Anterior
        </a>
        {{else}}
          <a class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-gray-200 border border-gray-300 cursor-not-allowed">
          Anterior
        </a>
      </li>
    {{/if}}

    {{#if hasPrevPage}}
      <li>
        <a href='http://localhost:8080/products/?page={{prevPage}}' class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{prevPage}}</a>
      </li>
    {{/if}}

    <li>
      <a href="#" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{page}}</a>
    </li>

    {{#if hasNextPage}}
      <li>
        <a href='http://localhost:8080/products/?page={{nextPage}}' class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{nextPage}}</a>
      </li>
    {{/if}}

    {{#if hasNextPage}}
      <li>
        <a href="{{nextLink}}" class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
          Siguiente
        </a>
      {{else}}
        <a class="flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-gray-200 border border-gray-300 cursor-not-allowed">
        Siguiente
        </a>
      </li>
    {{/if}}
  </ul>
</nav>

<script src="/js/{{script}}"></script>