<div class="max-w-xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden my-4">
  <div class="py-4 px-6">
    <h1 class="text-2xl font-semibold text-gray-800">{{user.firstName}} {{user.lastName}} {{user.username}}</h1>
    <p class="py-2 text-lg text-gray-700">{{user.email}}</p>
    <div class="items-center text-gray-700">
      <h1 class="text-sm">Age: {{user.age}} </h1>
      <h1 class="text-sm">Rol: {{user.role}} </h1>
    </div>
    <div class="flex gap-2.5 py-2">
      {{#if cart.products.length}}
        <a href="/carts/{{cart._id}}" class="inline-block flex-1 rounded-lg bg-indigo-500 px-8 py-1 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 sm:flex-none md:text-base">Mi carrito</a>
      {{/if}}
      <form action="/api/session/logout" method="POST">
        <button type="submit"  href="#" class="inline-block flex-1 rounded-lg bg-indigo-500 px-8 py-1 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 sm:flex-none md:text-base">Cerrar Sesión</button>
      </form>
    </div>
  </div>
</div>
<div class="max-w-xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden my-4">
  <div class="py-4 px-6">
    <form action="/api/session/{{user._id}}/documents" method="POST" enctype="multipart/form-data">
      <label class="block mb-2 text-sm font-medium text-gray-900" for="multiple_files">Suba Identificación, Comprobante de domicilio y Comprobante de estado de cuenta</label>
      <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="multiple_files" type="file" name="files" multiple />
      <button type="submit" class="my-2 inline-block flex-1 rounded-lg bg-indigo-500 px-8 py-1 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 sm:flex-none md:text-base">Subir</button>
    </form>
  </div>
</div>

{{#each tickets}}


<div class="relative overflow-x-auto">
  <table class="max-w-xl mx-auto text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr class="mb-2">
        <th scope="col" class="px-6 py-3">
          Ticket: {{this.code}}
        </th>
        <th scope="col" class="px-6 py-3">
          Total: ${{this.amount}}
        </th>
        <th scope="col" class="px-6 py-3">
          Date: {{this.purchaseDateTime}}
        </th>
      </tr>
      <tr>
        <th scope="col" class="px-6 py-3">
          Product
        </th>
        <th scope="col" class="px-6 py-3">
          Price
        </th>
        <th scope="col" class="px-6 py-3">
          Quantity
        </th>
      </tr>
    </thead>

    {{#each this.products}}
    <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{this.product.title}}
            </th>
            <td class="px-6 py-4">
                ${{this.product.price}}
            </td>
            <td class="px-6 py-4">
                {{this.quantity}}
            </td>
        </tr>
    </tbody>
    {{/each}}
  </table>
</div>

{{/each}}